.item
    margin-top 40px;
    line-height 1.8;

    & .head
        margin-bottom 15px;
        & .title
            float left;
            color #2479CC;
        & .time
            float right;
            color #bbb;
            font-size 14px;

    & .content
        & h2
            font-size 1.7em;
            border-bottom 1px solid #ddd;
        & p
            margin-top 20px;
            margin-bottom 10px;



