
html{
    -webkit-text-size-adjust: none;
    overflow-y: scroll;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,pre,input,button,textarea{
    margin: 0;
    padding: 0;
}
body{
    color: #666;
    font-family:"Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}
i,em{
    font-style: normal;
}
// h1, h2, h3, h4, h5, h6 {
//     font-weight:normal;
// }
img{
    border: none;
}
a:active{
    color: #2479CC;
}
a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #2479CC;
}
ul,ol{
    list-style-type: none;
}
textarea{
    resize: none;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
/*@样式初始化*/